<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanghuan.dao.InterestDao">
	<resultMap id="interestMap"
		type="com.wanghuan.model.InterestEntity">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="info" property="info" />
		<result column="content" property="content" />
		<result column="image" property="image" />
	</resultMap>

	<select id="getInsterest" resultMap="interestMap">
		select * from interest
		<where>
			<if test="title != null and title != ''">
				title like CONCAT('%',#{title},'%')
			</if>
		</where>
	</select>

	<select id="getInsterestById" resultMap="interestMap">
		select * from interest
		<where>
			id = #{id}
		</where>
	</select>

</mapper>