<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.interest.dao.PostCardDao">
	<resultMap id="postCardMap"
		type="com.interest.model.PostCardEntity">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="interestid" property="interestid" />
		<result column="createtime" property="createtime" />
		<result column="replytime" property="replytime" />
	</resultMap>

	<resultMap id="postCardModelMap"
			   type="com.interest.model.view.PostCardModel">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="interestid" property="interestid" />
		<result column="createtime" property="createtime" />
		<result column="replytime" property="replytime" />
		<result column="headimg" property="headimg" />
		<result column="githuburl" property="githuburl" />
	</resultMap>

	<select id="postcardList" resultMap="postCardModelMap">
		select a.*, b.headimg headimg, b.url githuburl from post_card a
			left join sys_user b on a.username = b.login_name
		<where>
			<if test="interestid != null and interestid != ''">
				a.interestid = #{interestid}
			</if>
		</where>
	    <![CDATA[ order by a.replytime desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	
	<select id="postcardSize" resultType="Integer">  
	    <![CDATA[select count(*) from post_card]]>
		<where>
			<if test="interestid != null and interestid != ''">
				interestid = #{interestid}
			</if>
		</where>
	</select>
	
	<insert id="insertEntity" parameterType="PostCardEntity">
		insert into post_card (username,title,content,interestid,createtime,replytime)
		values (#{username},#{title},#{content},#{interestid},#{createtime},#{replytime})
	</insert>

	<select id="getPostcard" resultMap ="postCardModelMap">
		select a.*, b.headimg headimg, b.url githuburl from post_card a
			left join sys_user b on a.username = b.login_name
		<where>
			a.id = #{id}
		</where>
	</select>

	<update id="updateCreatetiem">
		update post_card set replytime = #{replytime}
		<where>
			id = #{id}
		</where>
	</update>	

	<delete id="deletePostcards">
		delete from post_card
		<where>
			<if test="groupId !=null">
				id in
				<foreach collection="groupId" item="item" index="index"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>

</mapper>