<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.interest.dao.ReplyCardDao">
	<resultMap id="replyCardMap"
		type="com.interest.model.ReplyCardEntity">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="content" property="content" />
		<result column="postcardid" property="postcardid" />
		<result column="createtime" property="createtime" />
	</resultMap>

	<resultMap id="replyCardModelMap"
			   type="com.interest.model.view.ReplyCardModel">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="content" property="content" />
		<result column="postcardid" property="postcardid" />
		<result column="createtime" property="createtime" />
		<result column="headimg" property="headimg" />
		<result column="githuburl" property="githuburl" />
	</resultMap>

	<select id="replycardList" resultMap="replyCardModelMap">
		select a.*, b.headimg headimg, b.url githuburl from reply_card a
			left join sys_user b on a.username = b.login_name
		<where>
			<if test="postcardid != null and postcardid != ''">
				a.postcardid = #{postcardid}
			</if>
		</where>
	    <![CDATA[ order by a.createtime asc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	
	<select id="replycardSize" resultType="Integer">  
	    <![CDATA[select count(*) from reply_card]]>
		<where>
			<if test="postcardid != null and postcardid != ''">
				postcardid = #{postcardid}
			</if>
		</where>
	</select>
	
	<insert id="insertEntity" parameterType="ReplyCardEntity">
		insert into reply_card (username,content,postcardid,createtime)
		values (#{username},#{content},#{postcardid},#{createtime})
	</insert>

	<!-- <select id="getPostcard" resultMap ="replyCardMap">
		select * from post_card
		<where>
			id = #{id}
		</where>
	</select> -->

	<delete id="delReplyByPostcardid">
		delete from reply_card
		<where>
			<if test="groupId !=null">
				postcardid in
				<foreach collection="groupId" item="item" index="index"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>

</mapper>