<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.interest.dao.RoleDao">
	<resultMap id="roleMap" type="com.interest.model.entity.RoleEntity">
		<id column="id" property="id" />
		<result column="role" property="role" />
		<result column="name" property="name" />
		<result column="modules" property="modules" />
		<result column="describe" property="describe" />
	</resultMap>
	<!-- 获取role列表 -->
	<select id="rolesList" resultMap="roleMap">
	<![CDATA[select * from sys_role]]>
	    <![CDATA[ order by id ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!-- 获取role列表的总量 -->
	<select id="rolesSize" resultType="Integer">  
	    <![CDATA[select count(*) from sys_role]]>
	</select>
	<!-- 新建角色信息 -->
	<insert id="insertRole">
		insert into sys_role (role,name,modules,`describe`)
		values
		(#{roleEntity.role},#{roleEntity.name},#{roleEntity.modules},#{roleEntity.describe})
	</insert>
	<!-- 更新角色信息 -->
	<update id="updateRole">
		update sys_role set
		role = #{roleEntity.role},
		name = #{roleEntity.name},
		modules =
		#{roleEntity.modules},
		`describe` =
		#{roleEntity.describe}
		<where>
			id = #{roleEntity.id}
		</where>
	</update>
	<!-- 删除角色信息 -->
	<delete id="deleteRoles">
		delete from sys_role
		<where>
			<if test="groupId !=null">
				id in
				<foreach collection="groupId" item="item" index="index"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>
	<!-- 通过id得到Modules集合 -->
	<select id="getModulesById" resultType="String">
		select modules from
		sys_role where id in (select role_id from r_user_role where user_id =
		#{id})
	</select>
	<!-- 通过UserId得到对应的role -->
	<select id="getRolesByUserId" resultType="String">
		select `role` from
		sys_role where id in (select role_id from r_user_role where user_id =
		#{id})
	</select>
	<!-- 得到角色全部数据 -->
	<select id="allRoles" resultMap="roleMap">
		select * from sys_role
	</select>
</mapper>